!examples/**/.vscode
.idea
.settings
bin
tmp
distribution
*.iml
libs
classes
*.class
*.ctxt
*.zip
old

natives

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
