.vscode
.idea
bin
tmp
distribution
*.iml
libs
classes
*.class
*.ctxt
*.zip
docs/en/public/reference
docs/en/book/changelog.md

natives

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
